<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<!--  -->
<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean> -->
<context:annotation-config/>

<!-- 객체 생성 -->
	
	<bean class="sample06.EmpService" id="service"/>
	
 	<bean class="sample06.EmpController" id="controller"/>
 	
 	<bean class="sample06.EmpDTO" id="emp"/>
 	<bean class="sample06.EmpDTO" id="emp2"/>





</beans>
