/*
 footer 에
  1) 바탕색 : #F1FFFF;
  2) border-top 을 1px solid blue  적용
  3) margin-top 을 10px 적용
  4) 상하좌우 패팅 10px적용
*/
footer{
	background-color: #F1FFFF;;
	border-top:1px solid blue;
	margin-top:10px;
	padding:10px;
}

/*
 footer ul li 에
  1) 글자 가운데 정렬
  2) 오른쪽 패딩 10px
 
*/
footer ul li{
	text-align: right;
	padding-right: 10px;
}	
	