<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 객체 생성 -->
<bean class="sample01.MessageBeanKoImpl" id="ko"></bean>
<bean class="sample01.MessageBeanEnImpl" id="en" scope="prototype"></bean>

</beans>
